$mainMaxWidth: 1100px;

.delivroo {
  background-color: #00c1b2;
  color: white;
}

.leboncoin {
  background-color: #f56b2a;
  color: white;
}

.facebook {
  background-color: #4267b2;
  color: white;
}
