.btn {
  height: 40px;
  line-height: 40px;
  min-width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: #009589;
  }

  &:disabled {
    background: lightgrey;
    color: darkgrey;
    cursor: initial;
  }

  &.fullWidth {
    width: 100%;
  }

  &.small {
    height: auto;
    line-height: 1.1;
  }
}
